.cardWrapperContainer {
  @apply mt-16;
}

.cardWrapperHeader {
  @apply flex justify-between tipografy-title;
}

.cardWrapperTitle {
  @apply text-gray-600 font-medium;
}

.cardWrapperSubtitle {
  @apply uppercase font-bold text-terciary-blue items-center;
}

.cardWrapperBadge {
  @apply bg-terciary-blue py-2 px-3 md:px-4 rounded-r-2xl ml-2 lg:ml-4;
}

.cardWrapperCards {
  @apply flex flex-row overflow-x-scroll no-scrollbar gap-6 mt-6 px-2;
}

