@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #BFBFBF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --color-secundary-blue: #5D79F9;
  --color-primary-blue: #84BAFF;
  --color-terciary-blue: #4593FA;
  --color-quartenary-blue: #1561ED;
}

 @utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer components {
  .link-default {
    @apply hover:underline leading-6 text-[#707070] hover:text-[#0029F6];
  }

  .border-default {
    @apply border border-neutral-300 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus:text-secundary-blue font-semibold;
  }
  
  #toggle-menu:checked ~ .header .nav {
    opacity: 1;
    left: 0;
  }

  /* espaçamentos */
  .space-component-to-component {
    @apply my-8 lg:my-12;
  } 

  .space-card-to-component{
    @apply mt-6 lg:mt-12;
  }
  /* tipografia */
  .tipografy-title {
    @apply leading-6 text-2xl lg:text-4xl font-bold text-black;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .bg-mobile-landscape {
    height: 120lvh;
    transform: translateY(-20px) translateX(-6px) rotate(-6deg);
  }

}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: var(--font-poppins), sans-serif;
 }
