@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #BFBFBF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --color-secundary-blue: #5D79F9;
  --color-primary-blue: #84BAFF;
}

@layer components {
  .link-default {
    @apply hover:underline leading-6 text-[#707070] hover:text-primary-blue;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: var(--font-poppins), sans-serif;
 }
