@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #E0E3EB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --color-secundary-blue: #5D79F9;
  --color-primary-blue: #84BAFF;
  --color-terciary-blue: #4593FA;
  --color-quartenary-blue: #1561ED;
  --color-text-blue: #1178FF;
  --color-neutral: #0E1735;
  --color-neutral-secondary: #3C4563;
  --color-neutral-terciary: #888B97;
  --color-shadow-blue: #2764FF85;
}

.logo-img {
  /* to black */
  filter: invert(1);
  /* or to blue */
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

 @utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer components {
  .link-default {
    @apply hover:underline leading-6 text-black hover:text-[#0029F6];
  }

  .border-default {
    @apply border border-neutral-300 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus:text-secundary-blue font-semibold;
  }
  
  #toggle-menu:checked ~ .header .nav {
    opacity: 1;
    left: 0;
  }

  /* espaçamentos */
  .space-component-to-component {
    @apply my-8 lg:my-12;
  } 

  .space-card-to-component{
    @apply mt-6 lg:mt-12;
  }
  /* tipografia */
  .tipografy-title {
    @apply leading-6 text-xl lg:text-2xl font-bold text-black;
  }

 .wrapper-cards-container { @apply mt-16 space-y-3; }
  .wrapper-cards-header { @apply flex justify-between; } /* só container flex */
  .wrapper-cards-title { @apply text-gray-600 font-medium; }
  .wrapper-cards-subtitle { @apply uppercase font-bold text-terciary-blue items-center; }
  .wrapper-cards-badge { @apply bg-terciary-blue py-2 px-3 md:px-4 rounded-r-2xl ml-2 lg:ml-4; }
  .wrapper-cards-list { @apply flex flex-row overflow-x-scroll gap-6 mt-6 px-2; }

  /* Tipografia global */
  .tipografy-title { @apply leading-6 text-xl lg:text-2xl font-bold text-black;}
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .bg-mobile-landscape {
    height: 120lvh;
    transform: translateY(-20px) translateX(-6px) rotate(-6deg);
  }

}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: var(--font-poppins), sans-serif;
 }
